/* Global Styling Starts */
:root {
    --main-color: #0BDA51;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;
    --size: 30px;
    --nav-height: 60px;
    --space-top: 30px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
}

.main-color {
    color: var(--main-color);
}

.container {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
}

.formLoginContainer {
    max-width: 500px;
    height: 60vh;
    padding: 0 50px;
    margin: auto;
    border: 2px solid var(--main-color);
}

.formSigninContainer {
    max-width: 500px;
    height: 70vh;
    padding: 0 50px;
    margin: auto;
    border: 2px solid var(--main-color);
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn {
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    align-items: center;
}

.btn:hover {
    color: #000000;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.section-header {
    margin: 15px 0;
    font-size: 28px;
    font-weight: 500;
}

.section-header span {
    color: var(--main-color);
}

/* Global Styling Ends */

/* Scrollbar Styling Starts */
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00563B;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}

/* Scrollbar Styling Ends */

/* Navigation Style Starts */
.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 100%;
    z-index: 99;
}

.bg-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00563B;
    color: white;
    width: 100%;
    z-index: 99;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
}

.logo {
    font-size: 2rem;
    font-weight: 900;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-menu li ~ li {
    margin-left: 30px;
}

.nav-menu a {
    text-transform: uppercase;
    font-weight: 700;
}

.nav-wrapper .nav-menu a:hover {
    color: #00563B;
    border-bottom: 3px solid var(--main-color);
}

.bg-wrapper .nav-menu a:hover {
    color: black;
    border-bottom: 3px solid black;
}

.bg-wrapper span {
    color: black;
}

.bg-wrapper i {
    color: black;
}

.nav-menu a.btn:hover,
a.logo:hover,
a.movie-item:hover {
    transition: 0.3s ease-in-out;
}

.hamburger-menu {
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: var(--size);
    height: 3px;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    bottom: -10px;
}

.hamburger-menu.active .hamburger {
    background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}

.hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}

/* Navigation Style Ends */

/* Banner or Hero Style Starts */
.hero-slide-item {
    padding-top: 80vh;
    position: relative;
    overflow: hidden;
}

.hero-slide-item img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-slide-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
}

.item-content-wraper {
    padding-left: 5rem;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.item-content-wraper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.item-content-title {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
}

.movie-infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.movie-info {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.movie-info span {
    margin-left: 5px;
}

.movie-info i {
    align-items: center;
    color: var(--main-color);
}

.movie-info ~ .movie-info {
    margin-left: 5px;
}

.item-content-description {
    font-size: 1.15rem;
    margin-top: var(--space-top);
    line-height: 1.6rem;
}

.item-action {
    margin-top: var(--space-top);
}

.hero-section .carousel-nav-center {
    position: relative;
}

.hero-section .carousel-nav-center .owl-nav button i {
    font-size: 3rem;
}

.hero-section .carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
}

.hero-section .carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 25px;
}

.hero-section .carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}

.owl-nav button {
    border: none;
    outline: none;
}

.owl-nav button i {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.owl-nav button:hover i {
    color: var(--main-color);
}

.top-down {
    transform: translateX(-50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.delay-2 {
    transition-delay: 0.2s;
}

.delay-4 {
    transition-delay: 0.4s;
}

.delay-6 {
    transition-delay: 0.6s;
}

.delay-8 {
    transition-delay: 0.8s;
}

.owl-item.active .top-down {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

.hero-slide-item i {
    margin-right: 10px;
}

/* Hero or Banner Section Ends */

/* Top Movies Section Starts */
.movie-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 140%;
    cursor: pointer;
}

.movie-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s linear;
}

.movie-item:hover img {
    transform: scale(1.2);
}

.movie-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

.movie-item-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.movie-item-title {
    color: var(--text-color);
    font-size: 1.5rem;
    position: relative;
    font-weight: 700;
}


.top-movies-slide .carousel-nav-center {
    position: relative;
}

.top-movies-slide .carousel-nav-center .owl-nav button i {
    font-size: 1.6rem;
}

.top-movies-slide .carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
}

.top-movies-slide .carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 25px;
}

.top-movies-slide .carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}

.owl-nav button {
    border: none;
    outline: none;
}

.owl-nav button i {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.owl-nav button:hover i {
    color: var(--main-color);
}

/* Top Movies Section Ends */

/* Latest Movies Section Starts */
.latest-movies-slide .carousel-nav-center {
    position: relative;
}

.latest-movies-slide .carousel-nav-center .owl-nav button i {
    font-size: 1.6rem;
}

.latest-movies-slide .carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
}

.latest-movies-slide .carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 25px;
}

.latest-movies-slide .carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}

.owl-nav button {
    border: none;
    outline: none;
}

.owl-nav button i {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.owl-nav button:hover i {
    color: var(--main-color);
}

/* Latest Movies Section Ends */

/* Latest Series Section Starts */
.latest-series-slide .carousel-nav-center {
    position: relative;
}

.latest-series-slide .carousel-nav-center .owl-nav button i {
    font-size: 1.6rem;
}

.latest-series-slide .carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
}

.latest-series-slide .carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 25px;
}

.latest-series-slide .carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}

.owl-nav button {
    border: none;
    outline: none;
}

.owl-nav button i {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.owl-nav button:hover i {
    color: var(--main-color);
}

/* Latest Series Section Ends */

/* Latest Cartoons Section Starts */
.latest-cartoons-slide .carousel-nav-center {
    position: relative;
}

.latest-cartoons-slide .carousel-nav-center .owl-nav button i {
    font-size: 1.6rem;
}

.latest-cartoons-slide .carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
}

.latest-cartoons-slide .carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 25px;
}

.latest-cartoons-slide .carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}

.owl-nav button {
    border: none;
    outline: none;
}

.owl-nav button i {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.owl-nav button:hover i {
    color: var(--main-color);
}

/* Latest Series Section Ends */

/* Pricing Section Starts */
.pricing-header {
    margin-bottom: 25px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.pricing-box {
    padding: 50px;
    margin: 15px 0;
    background-color: var(--box-bg);
    border-radius: 3px;
    border-top: 5px solid transparent;
    transition: transform 0.3s ease-in-out;
}

.pricing-box.hightlight {
    border: 3px solid darkgreen;
    animation: circleScale 3s infinite;
}

.pricing-box:hover {
    transform: scale(.95);
    border: 2px solid #00563B;
}

@keyframes circleScale {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(.90)
    }

    100% {
        transform: scale(1)
    }
}

.pricing-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.pricing-name {
    border-bottom: 3px solid var(--main-color);
    font-weight: 700;
}

.pricing-price {
    border-bottom: 3px solid var(--main-color);
    font-weight: 700;
}

.pricing-price span {
    font-size: 1rem;
}

.pricing-box-content {
    text-align: center;
    margin-top: 60px;
    font-size: 1.25rem;
}

.pricing-box-action {
    text-align: center;
    margin-top: 60px;
}

/* Pricing Section Ends */

/* Description Style Starts */
.info-section {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 30px;
    margin: 30px 0;
}

.trailer-section {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    gap: 30px;
    margin: 30px 0;
}

/* Description Style Ends */

/* Footer Section Starts */
f.top-movies-slide {
    margin-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: var(--box-bg);
}

footer a:hover {
    color: var(--main-color);
}

footer a.logo {
    margin-top: -2.5rem;
    display: block;
}

footer a.logo:hover {
    color: unset;
}

.footer-section .content p b {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.social-list {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-item {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--main-color);
    color: black;
}

.social-item:hover {
    background-color: darkgreen;
    color: white;
    transform: scale(.9);
    transition: .5s all;
}

.social-item ~ .social-item {
    margin-left: 20px;
}

footer .content {
    margin-top: 20px;
}

.footer-menu {
    list-style-type: none;
}

.footer-menu a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.footer-menu a:hover {
    transform: translateX(2px);
}

/* Footer Section Ends */

/* Form Style Starts */
/* Form Style Starts */
.close-btn {
    float: right;
}

.popup-container,
.form__input,
.form__button {
    font-size: 16px;
    font-weight: 500;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    color: white;
    margin-bottom: 24px;
    text-align: center;
}

.form__input-group {
    margin-bottom: 16px;
}

.form__input {
    display: block;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: lightgreen;
    background: #ffffff;
}

.form__text {
    color: white;
    text-align: center;
}

#close-btn {
    cursor: pointer;
    color: white;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}

/* Form Style Ends */
/* Form Style Ends */

/* Search Style Starts */
.wrap h1 {
    text-align: center;
}

.search-container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 400px;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 5px solid var(--main-color);
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}



/* RESPONSIVE */

@media only screen and (max-width: 1280px) {
    html {
        font-size: 14px;
    }

    .hero-slide-item {
        padding-top: 50%;
    }

    .item-content-wraper {
        width: 50%;
    }
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 12px;
    }

    .container {
        padding: 0 15px;
    }

    .hero-slide-item {
        height: max-content;
        padding-top: unset;
    }

    .item-content-wraper {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        padding-right: 5rem;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .hero-slide-item-content {
        position: relative;
    }

    .hero-slide-item img {
        height: 100%;
    }

    .item-content-title {
        font-size: 3rem;
    }

    .hamburger-menu {
        display: grid;
    }

    .nav-menu {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }

    .nav-menu li {
        margin: 10px 30px;
    }

    .nav-menu.active {
        left: 0;
    }

    .info-section img {
        height: 200px;
    }

    .info-section {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .trailer-section img {
        height: 200px;
    }

    .trailer-section iframe {
        width: 400px;
        height: 200px;
    }

    .trailer-section {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
}

