{% extends 'main.html' %}
{% block title %}
<title>Movie Upload</title>
{% endblock title %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
  {% for category, message in messages %}
  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="formContactContainer">

<h1  class="form__title">Upload a Movie</h1>
	 <form method="POST" action="{{ url_for('create_post') }}" enctype="multipart/form-data">

    <div class="wrap">
    <div class="form__input-group"  style="margin-left: 25%; margin-right:25%">
    <input type="text" class="form__input" name="title" placeholder="Title" style="" autofocus required ><br>
    </div>

    <div class="form__input-group"  style="margin-left: 25%; margin-right:25%">
    <input type="number" class="form__input" name="rating"placeholder="Rating" placeholder="Rating"  step="0.1" min="0" max="10" required><br>
    </div>


    <div class="form__input-group"  style="margin-left: 25%; margin-right:25%">
    <input type="text" name="time" placeholder="Time" class="form__input" required><br>
    </div>



    <div class="form__input-group"  style="margin-left: 25%; margin-right:25%">
    <input type="text" name="movie_type" placeholder="Movie Type" class="form__input" required><br>
    </div>
    </div>



    <label for="image" style="margin-left:45%">Image:</label><br>
    <input type="file" style="margin-left:45%" name="image" accept="image/*" required><br> <br>

    <input class="btn btn-text"  style="margin-left: 45%; margin-right:25%"  type="submit" value="Submit">
  </form>

</div>

<form action="{{ url_for('delete_post') }}" method="post">
  <label for="movie_name">Movie Name:</label>
  <div class="form__input-group"  style="margin-left: 25%; margin-right:25%">
    <input type="text" name="movie_name" placeholder="movie_name" class="form__input" required><br>
    </div>
    </div>

  <button class="btn btn-text"  style="margin-left: 45%; margin-right:25%"  type="submit">Delete Post</button>
</form>


{% endblock body %}