{% extends 'main.html' %}
{% block title %}
<title>details</title>
{% endblock title %}

{% block body %}
<div class="container mt-3">

<div class=" container info-section">
        <div class="info-Image">
            <img src="images/movies/blood-shot.jpg" alt="">
        </div>
        <div class="info-text">
            <h2 class="main-color">Movie Name</h2>
            <h3>Director :<span> text</span> </h3>
            <h3>Actors :<span> text</span> </h3>
            <h3>Category :<span> text</span> </h3>
            <h3>Rating :<span> text</span> </h3>
            <h3>Quality :<span> text</span> </h3>
            <p>
                Bloodshot is a 2020 American superhero film based on the Valiant Comics character of the same name. It
                is intended to be the first installment in a series of films set within a Valiant Comics shared
                cinematic universe.[3] Directed by David S. F. Wilson (in his feature directorial debut) from a
                screenplay by Jeff Wadlow and Eric Heisserer and a story by Wadlow,[4] the film stars Vin Diesel in the
                main role, Eiza González, Sam Heughan, Toby Kebbell, and Guy Pearce.
            </p>
            <p>
                Bloodshot is a 2020 American superhero film based on the Valiant Comics character of the same name. It
                is intended to be the first installment in a series of films set within a Valiant Comics shared
                cinematic universe.[3]
            </p>
        </div>
    </div>



    <div class=" container trailer-section">

        <div class="info-trailer">
            <iframe width="763" height="377" src="https://www.youtube.com/embed/vOUVVDWdXbo"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

    </div>

<br>
{% endblock body %}